.container-main {
  /* width: 920px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-text-form {
  display: flex;
  justify-content: space-between;
}
.text {
  margin-top: 20.97px;
  margin-right: 30px;
  width: 520px;
  height: 220px;
  text-align: left;
  font: normal normal normal 12px/18px Helvetica;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}
.title-text {
  margin-bottom: 30px;
  width: 332px;
  height: 23px;
  text-align: left;
  font: normal normal normal 20px/24px Helvetica;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}
.forms {
  margin-top: 20.97px;
  width: 340px;
  margin-left: 30px;

  display: flex;
  flex-direction: column;
}
.form-label {
  width: 58px;
  height: 14px;
  text-align: left;
  font: normal normal normal 12px/14px Helvetica;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}
.input {
  margin-top: 7px;
  margin-bottom: 20px;
  height: 30px;
  border: 1px solid #707070;
  opacity: 1;
}
.btn-registration {
  margin-top: 23px;
  margin-bottom: 79px;
  height: 39px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;

  font: normal normal normal 16px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
}
.container-prod {
  width: 920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-prod {
  padding: 5px;
  color: #888888;
  /* text-align: center; */
}
.container-card {
  width: 100%;
  margin-top: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;

  width: 200px;
  height: 350px;
}
.card-img {
  margin-top: 40px;
  width: 200px;
  height: 150px;
}
.container-content {
  display: flex;
  flex-direction: column;

  font: normal normal normal 12px/16px Helvetica;
  color: #888888;
  letter-spacing: 0px;
  opacity: 1;
}
.title-card-content {
  margin-top: 10px;
  font: normal normal normal 14px/16px Helvetica;
  letter-spacing: 0px;
  color: #888888;
}
.description-content {
  margin-top: 10px;
}
.old-price {
  margin-top: 10px;
  font: normal normal normal 12px/16px Helvetica;
}
.price {
  margin-top: 6px;
  font: normal normal bold 16px/16px Helvetica;
}
.division-price {
  margin-top: 7px;
}
.btn-card-content {
  margin-top: 7px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;

  font: normal normal normal 16px/16px Helvetica;
  color: #888888;
}
.btn-more-prod {
  margin-top: 52px;
  width: 260px;
  height: 39px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;

  font: normal normal normal 16px/16px Helvetica;
  color: #888888;
}
.container-register-friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 128px;

  color: #888888;
  opacity: 1;
}
.title-registe {
  font: normal normal bold 18px/16px Helvetica;
}
.text-register {
  margin-top: 45px;
  font: normal normal normal 14px/16px Helvetica;
}
.forms-register {
  margin-top: 40px;
  width: 720px;
  display: flex;
  justify-content: space-between;
}
.fields {
  font: normal normal normal 12px/14px Helvetica;
}
.input {
  width: 340px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
}
.btn-register-friend {
  margin-top: 50px;
  margin-bottom: 72px;
  width: 260px;
  height: 39px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
}
@media only screen and (max-width: 426px) {
  .container-main {
    width: 420px;
  }

  .container-text-form {
    width: 386px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-content {
    height: 220px;
    margin-left: 16px;
  }
  .forms {
    height: 400px;
  }
  .container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 420px;
    height: 170px;

    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .card-img {
    width: 169px;
    height: 129px;
  }
  .container-content {
    width: 200px;
    height: 129px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .description-content {
    display: none;
  }
  .container-register-friend {
    width: 420px;
    margin-top: 121px;
  }
  .text-register {
    margin-top: 18px;
    text-align: center;
  }
  .forms-register {
    height: 136px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-register-friend {
    margin-top: 28px;
    margin-bottom: 85px;

    font: normal normal normal 16px/16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
  }
}
@media only screen and (min-width: 426px) and (max-width: 769px) {
  .container-text-form {
    display: none;
  }
  .title-prod {
    display: none;
  }
  .container-card {
    width: 600px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
  }
  .card {
    height: 350px;
    margin-right: 30px;
  }
  .container-register-friend {
    display: none;
  }
}
