* {
  margin: 0;
  padding: 0;
}
.body {
  width: 1;
}
.container-header {
  height: 399.03px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nav {
  width: 769px;
  height: 50px;

  display: flex;
  justify-content: space-around;
}
.container-main {
  margin-left: 290px;
  margin-right: 290px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-infos-forms {
  display: flex;
  justify-content: space-around;
}
.infos {
  width: 520px;
  margin-right: 60px;
}
.forms {
  width: 340px;
  display: flex;
  flex-direction: column;
}
.container-prod {
  margin-top: 95px;
}
.container-register-friend {
  margin-top: 128px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infos-register {
  margin-top: 34px;
}
.forms-register {
  margin-top: 39px;
  display: flex;
  justify-content: space-around;
}
.fields {
  display: flex;
  flex-direction: column;
}
.btn-register-friende {
  margin-top: 50px;
}
.container-footer {
  height: 293.24px;
  margin-top: 71.76px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
